.calendar-container {
height: 100vh;
}

.past-day {
background-color: #888888;
opacity: 0.2;
}

  .fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 0;
  }
  .fc .fc-toolbar-title {
    font-size: 1rem;
    color: #37362f;
  }
  .fc .fc-button-primary {
    font-size: 0.75rem;
    background-color: #ffffff00;
    color: #acaba9;
    border: none;
    outline: none;
  }
  .fc .fc-today-button {
    background-color: #ffffff00;
    color: #37362f;
    border: none;
    outline: none;
  }
  .fc .fc-button-primary:not(:disabled):active,
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
  }
  .fc .fc-button-primary:not(:disabled):focus,
  .fc .fc-button-primary:not(:disabled).fc-button-focus {
    background-color: #ffffff00;
    color: #acaba9;
    box-shadow: none;
  }
  .fc .fc-today-button:disabled {
    opacity: 1;
  }

  .fc .fc-col-header-cell {
    font-size: 0.75rem;
        font-weight: normal;
    color: #775004;
}

.fc .fc-daygrid-day-number {
    font-size: 0.75rem;
  }

.fc-event-title {
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.fc-event-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

  .fc .fc-scrollgrid {
    border-width: 0;
  }

  .fc .fc-scrollgrid-section > * {
    border: none;
  }

  .fc .fc-scrollgrid-sync-table {
    border: 1px;
  }

  .fc {
    background-color: #ffffff;  /* 任意の色を指定 */
  }